* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #f2f2f2
}

.container {
    padding: 0 20px
}

.sub-container {
    max-width: 500px;
    width: 100%;
    height: 350px;
    margin: 150px auto 0;
    display: flex;
    background: #fff;
    box-shadow: 0 0 5px 2px
}

.sub-container .banner-img {
    width: 220px;
    height: 100%
}

.sub-container .banner-img img {
    width: 100%;
    height: 100%
}

.sub-container .login-form {
    width: 280px;
    height: 100%;
    text-align: center;
    padding: 40px 35px 0;
    position: relative
}

.sub-container .login-form .title {
    color: #6e8d30;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px
}

.sub-container .login-form .label {
    color: #524a4a;
    font-size: 14px;
    letter-spacing: 2px
}

.sub-container .login-form .input {
    margin: 5px 0 15px;
    width: 100%;
    padding: 8px
}

.sub-container .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: #6e8d30;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .sub-container {
        flex-direction: column;
        max-width: 300px;
        height: auto;
        margin-top: 50px
    }

    .sub-container .banner-img {
        width: 100%;
        height: 220px
    }

    .sub-container .login-form {
        width: 100%;
        padding: 20px 35px 0
    }

    .sub-container .login-form .title {
        font-size: 24px;
        margin-bottom: 20px
    }

    .sub-container .login-form .input {
        margin-bottom: 10px
    }

    .sub-container .btn {
        margin-top: 20px;
        padding: 10px
    }
}
