* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

/* Navbar */
#nav {
    text-align: center;
    background-color: #000;
    color: #fff;
    text-align: right;
    list-style: none;
    padding: 10px;
    height: 40px;
}

#nav li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

#nav li a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
}

#nav li a:hover {
    color: blueviolet
}

#nav .logo {
    float: left;
    letter-spacing: 5px;
    padding-left: 20px;
    font-weight: bold;
}

#nav .logo a {
    text-decoration: none;
    color: #fff
}

/* Banner styling */
.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite;
}

.img-container {
    /* background-image: url("./IMGZ/banner2.jpg"); */
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.inner-container {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #fff;
    height: auto;margin-top: 200px;
}

h1 {
    font-size: 7em;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: -17px;
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}

@keyframes slide {
    0% {
        background-image: url("./IMGZ/banner/banner3.jpg");
    }
    20% {
        background-image: url("./IMGZ/banner/banner3.jpg");
    }
    20.01% {
        background-image: url("./IMGZ/banner/banner4.jpg");
    }
    40% {
        background-image: url("./IMGZ/banner/banner4.jpg");
    }
    40.01% {
        background-image: url("./IMGZ/banner/banner5.jpg");
    }
    60% {
        background-image: url("./IMGZ/banner/banner5.jpg");
    }
    60.01% {
        background-image: url("./IMGZ/banner/banner6.jpg");
    }
    80% {
        background-image: url("./IMGZ/banner/banner6.jpg");
    }
    80.01% {
        background-image: url("./IMGZ/banner/banner7.jpg");
    }
    100% {
        background-image: url("./IMGZ/banner/banner7.jpg");
    }
}

/*  card box/containers styling */
.container {
    width: 1500px;
    height: 90%;
    margin: 20px auto;
    display: flex
}

.container .box {
    position: relative;
    width: 250px;
    height: 500px;
    background: #ccc;
    transition: 0.5s
}

.container .box:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1)
}

.container .box .thumb {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden
}

.container .box:nth-child(odd) .thumb {
    bottom: 0;
    left: 0
}

.container .box .thumb img {
    width: 100%;
    height: 250px
}

.container .box .details {
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #262626
}

.container .box:nth-child(even) .details {
    bottom: 0;
    left: 0
}

.container .box:nth-child(1) .details {
    background: #8553cb
}

.container .box:nth-child(2) .details {
    background: #fe8f01
}

.container .box:nth-child(3) .details {
    background: #79d400
}

.container .box:nth-child(4) .details {
    background: #f3211a
}

.container .box:nth-child(5) .details {
    background: orangered
}

.container .box:nth-child(6) .details {
    background: green
}

.container .box .details .content {
    position: absolute;
    top: calc(50% - 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s
}

.container .box:hover .details .content {
    top: calc(50%)
}

.container .box .details .content h3 {
    margin: 0;
    padding: 0;
    padding: 10px 0;
    color: #fff
}

.container .box .details .content a {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0)
}

.container .box:hover .details .content a {
    transform: scale(1)
}

.container .box .details .content a:hover {
    background: #fff;
    color: #262626
}

/* Footer styling */
#footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
    font-size: 18px;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box
    }

    .container .box {
        height: 250px;
    }

    .container .box .thumb {
        display: none
    }
}

@media (max-width: 768px) {
    .container {
        display: initial
    }

    .container .box {
        width: 50%;
        height: 250px;
        float: left;
    }
}

@media (max-width: 480px) {
    .container {
        top: 0;
        left: 0;
        transform: translate(0)
    }

    .container .box {
        width: 100%;
        height: 250px;
        float: none;
    }
}