* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.order {
    text-align: center;
    margin: 40px 0px;
}

.section-order {
    margin: 40px auto;
    width: 95%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    font-weight: bold;
    font-size: 30px;
}

td {
    text-align: left;
    padding: 8px;
    font-size: 20px;
}


tr:nth-child(even) {
    background: #f2f2f2;
}