* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    /* background-image: url('./IMGZ/login6.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* margin: -20px 0 50px; */
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

/* Navbar */
#nav {
    text-align: center;
    background-color: #000;
    color: #fff;
    text-align: right;
    list-style: none;
    padding: 10px;
    height: 40px;
}

#nav li {
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

#nav li a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
}

#nav li a:hover {
    color: blueviolet
}

#nav .logo {
    float: left;
    letter-spacing: 5px;
    padding-left: 20px;
    font-weight: bold;
}

#nav .logo a {
    text-decoration: none;
    color: #fff
}

/* banner-img */
.sub-container {
    max-width: 100%;
    width: 100%;
    height: 92vh;
    display: flex;
    background: #fff;
    box-shadow: 0 0 5px 2px
}

.sub-container .banner-img {
    width: 820px;
    height: 100%
}

.sub-container .banner-img img {
    width: 50vw;
    height: 100%
}


/* Footer styling */
#footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
    font-size: 18px;
}